{% extends 'layout-admin.html.twig' %}

{% block breadcrumb %}Cadastro de bairros{% endblock %}

{% block body %}
    <h3>Cadastro de bairros</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado</th>
                <th>Cidade</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for bairro in bairros %}
            <tr>
                <td>{{ bairro.id }}</td>
                <td>{% if bairro.fkEstadoId is defined %}{{ bairro.fkEstadoId.nome }}{% endif %}</td>
                <td>{% if bairro.fkCidadeId is defined %}{{ bairro.fkCidadeId.nome }}{% endif %}</td>
                <td>{{ bairro.nome }}</td>
                <td>
                    <a href="{{ path('bairro_edit', {'id': bairro.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nenhum registro encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(bairros) }}
    </div>
    <div>
        <a class="btn btn-dark btn-rounded" href="{{ path('bairro_new') }}">Cadastrar</a>
    </div>
{% endblock %}
