{% extends 'layout-admin.html.twig' %}

{% block breadcrumb %}Bairro{% endblock %}

{% block body %}
    <h1>Bairro</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bairro.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ bairro.nome }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bairro_index') }}">Voltar</a>

    <a href="{{ path('bairro_edit', {'id': bairro.id}) }}">Editar</a>

    {{ include('bairro/_delete_form.html.twig') }}
{% endblock %}
