{% extends 'layout-admin.html.twig' %}

{% block breadcrumb %}Locais de Atuação{% endblock %}

{% block body %}
    <h3>Locais de Atuação</h3>
    <h4>Imobiliária Tudo Imóveis</h4>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado</th>
                <th>Cidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for imobiliaria_atuacao in imobiliaria_atuacaos %}
            <tr>
                <td>{{ imobiliaria_atuacao.id }}</td>
                <td>{{ imobiliaria_atuacao.fkEstadoId.nome }}</td>
                <td>{% if imobiliaria_atuacao.fkCidadeId %}{{ imobiliaria_atuacao.fkCidadeId.nome }}{% endif %}</td>
                <td>
                    <a href="{{ path('imobiliaria_atuacao_show', {'id': imobiliaria_atuacao.id}) }}">Visualizar</a>
                    <a href="{{ path('imobiliaria_atuacao_edit', {'id': imobiliaria_atuacao.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Nenhum registro encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(imobiliaria_atuacaos) }}
    </div>
    <div>
        <a class="btn btn-dark btn-rounded" href="{{ path('imobiliaria_atuacao_new') }}">Cadastrar</a>
    </div>
{% endblock %}
