{% extends 'layout-admin.html.twig' %}

{% block title %}Locais de Atuação{% endblock %}

{% block body %}
    <h1>Locais de Atuação</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado</th>
                <th>Cidade</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imobiliaria_atuacao in imobiliaria_atuacaos %}
            <tr>
                <td>{{ imobiliaria_atuacao.id }}</td>
                <td>{{ imobiliaria_atuacao.fkEstadoId.nome }}</td>
                <td>{% if imobiliaria_atuacao.fkCidadeId %}{{ imobiliaria_atuacao.fkCidadeId.nome }}{% endif %}</td>
                <td>
                    <a href="{{ path('imobiliaria_atuacao_show', {'id': imobiliaria_atuacao.id}) }}">show</a>
                    <a href="{{ path('imobiliaria_atuacao_edit', {'id': imobiliaria_atuacao.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('imobiliaria_atuacao_new') }}">Create new</a>
{% endblock %}
