<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Tudo Imóveis</title>

        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/nifty.css') }}" rel="stylesheet">
        <link href="{{ asset('css/themify-icons.css') }}" rel="stylesheet">
        <style>
            .principal {
                padding: 30px;
                background-image: url('images/fundo.jpg');
                height: 300px;
            }
            .carousel-inner img {
                margin: auto;
            }
            .phone {
                font-weight: 600;
            }
        </style>
    </head>
    <body class="pace-done">

        <div id="container">
            
            <header id="navbar">
                <div id="navbar-container" class="boxed" role="navigation">
                    <!--Navbar Dropdown-->
                    <nav class="navbar-content">
                        <ul class="nav navbar-top-links">

                            <li id="user">
                                <a href="{{ path('app_login') }}">
                                    <i class="ti-lock icon-lg icon-fw"></i>
                                    Acesso Restrito
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>

            <div
                class="boxed">

                <!--CONTENT CONTAINER-->
                <main>
                <div
                    id="content-container">

                    <!--Page content-->
                    <div id="page-content">

                        <div class="panel">

                            <div class="panel-body">

                                <div class="principal text-main text-center" aria-label="Buscar imóveis">
                                    <h1>Tudo Imóveis!</h1>
                                    <p>O imóvel dos seus sonhos está aqui.<br>Contamos com profissionais qualificados para te ajudar nesta importante escolha!</p>
                                    <br><br>
                                    <form class="form-inline" method="POST" action="{{ path('busca_imovel') }}">
                                        <div class="form-group">
                                            {{ form_widget(form.tipoAnuncio) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.fkTipoImovelId) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.fkCidadeId) }}
                                        </div>
                                        <button class="btn btn-primary" type="submit">Buscar</button>
                                    </form>
                                </div>
                                <br><br>
                                <div class="destaques" role="complementary" aria-label="Principais imóveis em destaque">
                                    <div
                                        class="panel">

                                        <!--Carousel-->
                                        <div id="demo-carousel" class="carousel slide" role="widget">

                                            <!--Indicators-->
                                            <ol class="carousel-indicators out">
                                                <li data-slide-to="0" data-target="#demo-carousel" class="active"></li>
                                                <li data-slide-to="1" data-target="#demo-carousel" class=""></li>
                                                <li data-slide-to="2" data-target="#demo-carousel" class=""></li>
                                            </ol>

                                            <div class="carousel-inner text-center">

                                                <div class="item">
                                                    <h4 class="text-main">{{ destaques[0].titulo }}</h4>
                                                    <p>Código do Imóvel {{ destaques[0].id }}<br>{{ destaques[0].descricao }}</p>
                                                    <img class="" src="{{ asset(destaques[0].path) }}" alt="Primeiro imóvel destaque">
                                                </div>

                                                <div class="item active left">
                                                    <h4 class="text-main">{{ destaques[1].titulo }}</h4>
                                                    <p>Código do Imóvel {{ destaques[1].id }}<br>{{ destaques[1].descricao }}</p>
                                                    <img class="" src="{{ asset(destaques[1].path) }}" alt="Segundo imóvel destaque">
                                                </div>

                                                <div class="item next left">
                                                    <h4 class="text-main">{{ destaques[2].titulo }}</h4>
                                                    <p>Código do Imóvel {{ destaques[2].id }}<br>{{ destaques[2].descricao }}</p>
                                                    <img class="" src="{{ asset(destaques[2].path) }}" alt="Terceiro imóvel destaque">
                                                </div>
                                            </div>

                                            <!--carousel-control-->
                                            <a class="carousel-control left" data-slide="prev" href="#demo-carousel" role="button" aria-label="Imagem anterior">
                                                <i class="ti-angle-left icon-2x"></i>
                                            </a>
                                            <a class="carousel-control right" data-slide="next" href="#demo-carousel" role="button" aria-label="Próxima imagem">
                                                <i class="ti-angle-right icon-2x"></i>
                                            </a>

                                        </div>
                                        <!--End Carousel-->

                                    </div>
                                </div>
                                <br><br>

                                <aside class="institucional row" aria-label="Sobre a imobiliária">
                                    <div class="col-sm-6">
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h2 class="panel-title phone">Nós somos a {{ imobiliaria.nomeFantasia }}</h2>
                                            </div>
                                            <div class="panel-body">
                                                <p>Uma empresa que surgiu a 5 anos comprometida com nossos clientes!</p>
                                                <p>Atuando em cidades da região central do Rio Grande do Sul, 
                                                    nossos imóveis estão presentes na vida de muitos gaúchos!</p>
                                                <p>Prezamos pelo bom atendimento e agilidade, tudo para você não ter dor de cabeça!</p>
                                                <p>Entre em contato conosco pelo telefone:</p>
                                                <div class="row">
                                                    <span class="phone col-sm-1" role="none"><i class="ti-mobile icon-2x"></i></span>
                                                    <p>{{ imobiliaria.telefone }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <iframe title="Vídeo dez dicas para comprar seu imóvel" width="560" height="315" src="https://www.youtube.com/embed/wuap54y-TCM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </aside>

                            </div>
                        </div>
                    </div>
                    <!--End page content-->
                </div>
                </main>


                <!-- FOOTER -->
                <footer id="footer">

                    <p class="pad-lft">©
                        {{ "now" | date("Y") }}
                        - Fhabiana Machado</p>

                </footer>
                <!-- END FOOTER -->


                <!-- SCROLL PAGE BUTTON -->
                <button class="scroll-top btn" aria-label="Subir ao topo da página">
                    <i class="ti-angle-up"></i>
                </button>
            </div>
            <!-- END OF CONTAINER -->


            <!--JAVASCRIPT-->
            <script src="{{ asset('js/jquery_002.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <script src="{{ asset('js/nifty.js') }}"></script>
        </body>
    </body>
</html>
