{% extends 'layout-admin.html.twig' %}

{% block breadcrumb %}Imóveis{% endblock %}

{% block body %}
    <h3>Listagem de Imóveis</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Tipo Anúncio</th>
                <th>Endereço</th>
                <th>Número</th>
                <th>Status</th>
                <th>Valor do Proprietário</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for imovel in imovels %}
            <tr>
                <td>{{ imovel.id }}</td>
                <td>{{ imovel.titulo }}</td>
                <td>{{ imovel.tipoAnuncio }}</td>
                <td>{{ imovel.endereco }}</td>
                <td>{{ imovel.numero }}</td>
                <td>{{ imovel.status }}</td>
                <td>{{ imovel.valorProprietario }}</td>
                <td>
                    <a href="{{ path('imovel_show', {'id': imovel.id}) }}">Visualizar</a>
                    <a href="{{ path('imovel_edit', {'id': imovel.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="22">Nenhum registro encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div>
        <a class="btn btn-dark btn-rounded" href="{{ path('imovel_new') }}">Cadastrar</a>
    </div>
{% endblock %}
