{% extends 'layout-admin.html.twig' %}

{% block title %}Imovel index{% endblock %}

{% block body %}
    <h1>Imovel index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>TipoAnuncio</th>
                <th>Endereco</th>
                <th>Numero</th>
                <th>Status</th>
                <th>ValorProprietario</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imovel in imovels %}
            <tr>
                <td>{{ imovel.id }}</td>
                <td>{{ imovel.titulo }}</td>
                <td>{{ imovel.tipoAnuncio }}</td>
                <td>{{ imovel.endereco }}</td>
                <td>{{ imovel.numero }}</td>
                <td>{{ imovel.status }}</td>
                <td>{{ imovel.valorProprietario }}</td>
                <td>
                    <a href="{{ path('imovel_show', {'id': imovel.id}) }}">show</a>
                    <a href="{{ path('imovel_edit', {'id': imovel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="22">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('imovel_new') }}">Create new</a>
{% endblock %}
