{% extends 'layout-admin.html.twig' %}

{% block title %}New Imovel{% endblock %}

{% block body %}
    <h1>Create new Imovel</h1>

    {{ include('imovel/_form.html.twig') }}

    <form id="form-dropzone" action="{{ path('file_input') }}" class="dropzone">
        <div class="dz-default dz-message">
            <div class="dz-icon">
                <i class="ti-cloud-up icon-5x"></i>
            </div>
            <div>
                <span class="dz-text">Drop files to upload</span>
                <p class="text-sm text-muted">or click to pick manually</p>
            </div>
        </div>
        <div class="fallback">
            <input name="file[]" type="file" multiple>
        </div>
    </form>

    <button id="save" class="btn btn-primary" type="submit">{{ button_label|default('Save') }}</button>

    <a href="{{ path('imovel_index') }}">back to list</a>

{% endblock %}

{% block extrajavascript %}
<script type="text/javascript">

    /*
    * Fonte: https://github.com/enyo/dropzone/wiki/Combine-normal-form-with-Dropzone
    * https://stackoverflow.com/questions/17872417/integrating-dropzone-js-into-existing-html-form-with-other-fields
    * https://gist.github.com/lokomotivan/51cc70bb5e93829f673deb8fcfcac34d
    * https://stackoverflow.com/questions/29517885/get-dropzone-instance-object-using-jquery
    */

    Dropzone.options.formDropzone = {
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 10,
        maxFiles: 10,
        maxFileSize : 4, //MB
        addRemoveLinks : true,
        acceptedFiles: ".jpg, .jpeg, .png, .gif",
        // Gets triggered when the form is actually being sent.
        sendingmultiple: function() {
            $('#form-dropzone').addClass('form-loading');
        },
        // Gets triggered when the files have successfully been sent.
        successmultiple: function(files, response) {
        },
        // Gets triggered when there was an error sending the files.
        errormultiple: function(files, response) {
        }

    };

    function carregaCidades(estadoId) {
            
            $.ajax({
                type: "POST",
                url: "{{ path('pessoa_lista_cidades') }}",
                cache: false,
                data: {
                    'estadoId': estadoId
                }
            }).done(function(cities) {

                let options = '';
                $.each(cities, function(i, item){
                    options += '<option value="'+item['id']+'">'+item['nome']+'</option>';
                });
                
                $("#imovel_fkCidadeId").empty().append(options);

            }).fail(function(){
                console.log( 'Falha ao buscar as cidades.' );
            });

    }

    $(document).ready( function() {

        carregaCidades($("#imovel_fkEstadoId").val());
        
        $("#imovel_fkEstadoId").on('change', function(){
            carregaCidades(this.value);
        });

        var myDropzone = Dropzone.forElement('#form-dropzone');

        $('#save').on('click', function (e){

            if (myDropzone.files.length == 0) {
                $('#form-imovel').submit();
            } else {
                myDropzone.processQueue();
                $('#form-imovel').submit();
            }

        });

    });
</script>
{% endblock %}

{# 
        // Dropzone.options.dropzonejs = {
        // var myDropzone = new Dropzone("div#myDropzone", {
        //     url: "{{ path('imovel_new') }}",
        //     paramName: "file_upload_file", 
        //     parallelUploads: 10,
        //     maxFilesize: 5,  // MB
        //     uploadMultiple: true, // upload files in a single request
        //     maxFiles: 2,
        //     acceptedFiles: ".jpg, .jpeg, .png, .gif",
        //     addRemoveLinks: true,
        //     // Language Strings
		// 	dictFileTooBig: "Arquivo muito grande. O tamanho de máximo de upload é 5MB.",
		// 	dictInvalidFileType: "Formato de arquivo inválido!",
		// 	dictCancelUpload: "Cancelar",
		// 	dictRemoveFile: "Remove",
		// 	dictMaxFilesExceeded: "São permitidos apenas 10 arquivos por vez.",
        //     dictDefaultMessage: "Arraste seus arquivos para cá!"
        // });

        console.log(Dropzone);

    }); #}
