{% extends 'layout-admin.html.twig' %}

{% block breadcrumb %}Imovel{% endblock %}

{% block body %}
    <h3>{{ imovel.titulo }}</h3>
    {{ include('imovel/_delete_form.html.twig') }}
    <br><br>

    <table class="table table-striped">
        <tbody>
            <tr>
                <td colspan="2">Informações Gerais</td>
            </tr>
            <tr>
                <th>Código</th>
                <td>{{ imovel.id }}</td>
            </tr>
            <tr>
                <th>Proprietário</th>
                <td>{{ imovel.fkProprietarioId.nome }}</td>
            </tr>
            <tr>
                <th>Tipo de imóvel</th>
                <td>{{ imovel.fkTipoImovelId.nome }}</td>
            </tr>
            <tr>
                <th>Tipo de Anúncio</th>
                <td>{{ imovel.tipoAnuncio }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ imovel.titulo }}</td>
            </tr>
            <tr>
                <th>Área Total</th>
                <td>{{ imovel.areaTotal }}</td>
            </tr>
            <tr>
                <th>Área Util</th>
                <td>{{ imovel.areaUtil }}</td>
            </tr>
            <tr>
                <th>Garagem</th>
                <td>{{ imovel.garagem }}</td>
            </tr>
            <tr>
                <th>Quarto</th>
                <td>{{ imovel.quarto }}</td>
            </tr>
            <tr>
                <th>Banheiro</th>
                <td>{{ imovel.banheiro }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ imovel.status }}</td>
            </tr>
            <tr>
                <th>StatusData</th>
                <td>{{ imovel.statusData ? imovel.statusData|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ imovel.descricao }}</td>
            </tr>
            <tr>
                <td colspan="2">Valores</td>
            </tr>
            <tr>
                <th>Valor do Proprietário</th>
                <td>{{ imovel.valorProprietario }}</td>
            </tr>
            <tr>
                <th>Valor do Condomínio</th>
                <td>{{ imovel.valorCondominio }}</td>
            </tr>
            <tr>
                <th>Valor do Iptu</th>
                <td>{{ imovel.valorIptu }}</td>
            </tr>
            <tr>
                <th>Valor da Imobiliária</th>
                <td>{{ imovel.valorImobiliaria }}</td>
            </tr>
            <tr>
                <td colspan="2">Localização</td>
            </tr>
            <tr>
                <th>ExposicaoSolar</th>
                <td>{{ imovel.exposicaoSolar }}</td>
            </tr>
            <tr>
                <th>PosicaoPredio</th>
                <td>{{ imovel.posicaoPredio }}</td>
            </tr>
            <tr>
                <th>Endereço</th>
                <td>{{ imovel.endereco }}</td>
            </tr>
            <tr>
                <th>Número</th>
                <td>{{ imovel.numero }}</td>
            </tr>
            <tr>
                <th>Cep</th>
                <td>{{ imovel.cep }}</td>
            </tr>
            <tr>
                <th>Complemento</th>
                <td>{{ imovel.complemento }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if imove.fkEstadoId is defined %} {{ imovel.fkEstadoId.nome }} {% endif %}</td>
            </tr>
            <tr>
                <th>Cidade</th>
                <td>{% if imove.fkCidadeId is defined %} {{ imovel.fkCidadeId.nome }} {% endif %}</td>
            </tr>
            <tr>
                <th>Bairro</th>
                <td>{% if imove.fkBairroId is defined %} {{ imovel.fkBairroId.nome }} {% endif %}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-default btn-rounded" href="{{ path('imovel_index') }}">Voltar</a>

    <a class="pull-right btn btn-primary btn-rounded" href="{{ path('imovel_edit', {'id': imovel.id}) }}">Editar</a>

{% endblock %}
