{% extends 'layout-admin.html.twig' %}

{% block extracss %}
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
{% endblock %}

{% block pagehead %}
    <div class="pad-all text-center">
        <h3>Bem vindo a
            {{ nomeImobiliaria }}</h3>
        <p1>Aqui você encontra as principais informações.<p></p>
        </p1>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-warning panel-colorful media middle pad-all">
                <div class="media-left">
                    <div class="pad-hor">
                        <i class="ti-home icon-3x"></i>
                    </div>
                </div>
                <div class="media-body">
                    <p class="text-2x mar-no text-semibold">{{ total.vender }}</p>
                    <p class="mar-no">Para vender</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info panel-colorful media middle pad-all">
                <div class="media-left">
                    <div class="pad-hor">
                        <i class="ti-pin-alt icon-3x"></i>
                    </div>
                </div>
                <div class="media-body">
                    <p class="text-2x mar-no text-semibold">{{ total.alugar }}</p>
                    <p class="mar-no">Para alugar</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-mint panel-colorful media middle pad-all">
                <div class="media-left">
                    <div class="pad-hor">
                        <i class="ti-face-smile icon-3x"></i>
                    </div>
                </div>
                <div class="media-body">
                    <p class="text-2x mar-no text-semibold">{{ total.cliente }}</p>
                    <p class="mar-no">Clientes</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Mapa</h3>
            </div>
            <div class="panel-body">
                <div id="map"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrajavascript %}
    <script src="{{ asset('js/jquery.flot.min.js') }}"></script>

    <script>
        function initMap() {
           
            let santaMaria = {lat: -29.695, lng: -53.7974};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: santaMaria
            });
            
            var marker = new google.maps.Marker({position: santaMaria, map: map});
        }
    </script>
    <!--Load the API from the specified URL
        * The async attribute allows the browser to render the page while the API loads
        * The key parameter will contain your own API key (which is not needed for this tutorial)
        * The callback parameter executes the initMap() function
        -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7Loue_JEn-iSsKFFWgyyYWrhKNkGlkEQ&callback=initMap"></script>


    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}
