{% extends 'layout-admin.html.twig' %}

{% block breadcrumb %}Gerenciar Usuários{% endblock %}

{% block body %}
    <h3>{{ pessoa.nome }}</h3>
    {{ include('user/_delete_form.html.twig') }}
    <br><br>

    <table class="table table-striped">
        <tbody>
            <tr>
                <td colspan="2">Informações Pessoais</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ pessoa.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ pessoa.nome }}</td>
            </tr>
            <tr>
                <th>Cpf</th>
                <td>{{ pessoa.cpf }}</td>
            </tr>
            <tr>
                <th>Rg</th>
                <td>{{ pessoa.rg }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ pessoa.email }}</td>
            </tr>
            <tr>
                <th>Acessos</th>
                <td>{{ pessoa.roles ? pessoa.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Telefone Principal</th>
                <td>{{ pessoa.telefonePrincipal }}</td>
            </tr>
            <tr>
                <th>Telefone Secundário</th>
                <td>{{ pessoa.telefoneSecundario }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ pessoa.usuario }}</td>
            </tr>
            <tr>
                <td colspan="2">Endereço</td>
            </tr>
            <tr>
                <th>Endereco</th>
                <td>{{ pessoa.endereco }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ pessoa.numero }}</td>
            </tr>
            <tr>
                <th>Cep</th>
                <td>{{ pessoa.cep }}</td>
            </tr>
            <tr>
                <th>Complemento</th>
                <td>{{ pessoa.complemento }}</td>
            </tr>
            <tr>
                <th>É cliente?</th>
                <td>{{ pessoa.cliente ? 'Sim' : 'Não' }}</td>
            </tr>
            <tr>
                <th>É administrador?</th>
                <td>{{ pessoa.administrador ? 'Sim' : 'Não' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-default btn-rounded" href="{{ path('user_index') }}">Voltar</a>

    <a class="pull-right btn btn-primary btn-rounded" href="{{ path('user_edit', {'id': pessoa.id}) }}">Editar</a>

{% endblock %}
